*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -mox-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--main-font-size);
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

:root {
  --main-font-size: 62.5%;
}

.counter__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 35rem;
  padding: 10px;
}

.counter__reset {
  cursor: pointer;
  position: absolute;
  top: 14rem;
  right: 3rem;
  height: 7rem;
  width: 7rem;
  z-index: 1;
}

.counter__number-box {
  position: absolute;
  top: 15rem;
  left: 11.2rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 3rem;
  background-color: black;
  width: 9.2rem;
}

.counter__buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 9rem;
  width: 14rem;
  bottom: 1rem;
}

.counter__push-button {
  font-size: 4rem;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  z-index: 1;
  bottom: 1rem;
  border: none;
  background-color: transparent;
}

.counter__button-inc-box {
  right: 40px;
}

.counter__button-dec-box {
  left: 40px;
}

.counter__img {
  position: relative;
}

.counter__img img {
  display: block;
  width: 100%;
}

.counter__push-button img {
  width: 100%;
}
